<div class="card">
  <div class="card-img-top">
    <iframe 
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBYm6fmd3--ZbWcY-IQRc02y4ZZ5vU6j20&q=place_id:<%=@request_id%>" allowfullscreen></iframe>
    </div>
  <div class="card-body">
    <h5 class="card-title">Address</h5>
    <p class="card-text"><%= @restaurant.address %></p>
  </div>
</div>