<div class="card">
  <div class="card-img-top">
<iframe width="375" height="200" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBYm6fmd3--ZbWcY-IQRc02y4ZZ5vU6j20&q=place_id:<%=@request_id%>" allowfullscreen></iframe>
</div>
  <div class="card-body">
    <h5 class="card-title">Address</h5>
    <p class="card-text"><%= @restaurant.address %></p>
  </div>
</div>