<%= render 'short_details' %>
<br><br>
<div>
    <%= link_to "Look's great, show me the details", restaurant_path(@restaurant), class: 'button'%>
    <%= link_to "Hmm, not today, show me something else", restaurant_path(@restaurant), class: 'button'%>
</div>