<div class="container card">
  <div class="row">
    <div class="col-sm">
        <%= render 'short_details' %>
    </div>
    <div class="col-sm">
        <%= render 'address' %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
        <% if @reviews != nil%>
            <%= render :partial=> 'reviews/reviews_list'%>
        <%else%>
            <p>There are no reviews for this restaurant yet! Be the first!</p> 
        <% end%>
        <%= render :partial=> 'reviews/embbeded_review' %>
    </div>
  </div>
</div>



