<%= render 'short_details' %>

<h4>Address:</h4>
<p><%= @restaurant.address %><p>
<br>
<div>
<iframe width="600" height="450" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBYm6fmd3--ZbWcY-IQRc02y4ZZ5vU6j20&q=place_id:<%=@request_id%>" allowfullscreen></iframe>
</div>

<%= render :partial => 'reviews/embbeded_review' %>

