
<h2>Reviews</h2>
<ul class="list-group">
<% @reviews.each do |review| %>
<li class="list-group-item">
<div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"><%= review.title%></h5>
      <small><%= review.stars%> / 5 stars</small>
    </div>
    <p class="mb-1"><%= review.content%></p>
<% end%>
</ul>

